---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.laki-ja-evankeliumi {
 background-size: contain;
 height: 144px;
 width: 740px;
}

.animated {
    background-image: url(/images/title-image.png);
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
         
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
